<%- include('partials/header'); -%>

<header>
  <div class="beverages">
    <img src="/beverage.png" alt="">
  </div>
  <div class="headings">
    <h2>Beverages Catalog</h2>
    <h3>By Gabriel</h3>
    <a href="/beverages" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>